<!DOCTYPE html>

<link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create order</title>
</head>
<body>

    <form method="post" th:action="@{/orders/save}" th:object="${order}">
        <label>
            Nazwa produktu:
            <input type="text" th:field="*{productName}">
            <td th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"/>
        </label>
        <label>
            Ilość:
            <input type="number" th:field="*{quantity}">
            <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"/>
        </label>
        <button type="submit" class="btn btn-success">Złóż zamówienie</button>
    </form>

</body>
</html>