<!DOCTYPE html>

<link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="book:${books}">
                <td th:text="${book.title}"/>
                <td th:text="${book.author}"/>

                <td><a th:href="@{/books/{bookId}/(bookId=${book.id})}"/>details</td>
            </tr>
        </tbody>

    </table>

</body>
</html>